@mixin short-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-bl {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

// Breakpoints / definition in variables
@mixin bp_at($bp) {
  @media(min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}