footer {
    background-color: #353535;
    color: #fff;
}

footer h2 {
    margin-top: 30px;
    padding-left: 15px;
    font-family: 'Shrikhand', cursive ;
}
footer a {
    color: #fff;
    text-decoration: none;
}