.menu__course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 375px;
  margin: auto;
  &__name {
    align-self: flex-start;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      top: 25px;
      background: $lightGreen;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  &__meal {
    width: 349px;
    height: 69px;
    background: $fullWhite;
    border-radius: 20px;
    box-shadow: $bs_meals;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /*  */
    &__details {
      width: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      flex-shrink: 0;
      transition: width 1000ms;
      &__name {
        @include ellipsis;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 400;
      }
      &__description {
        @include ellipsis;
        padding-left: 15px;
        font-size: 15px;
        font-weight: 300;
      }
    }
    &__price {
      width: 50px;
      height: 69px;
      display: flex;
      justify-content: center;
      align-items: end;
      flex-shrink: 0;
      &__details {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 700;
      }
    }

    &__checked {
      @include flex-center;
      color: $fullWhite;
      background: $lightGreen;
      flex-shrink: 0;
      width: 50px;
      height: 69px;
    }

    @include mealAnimation();
    &:hover &__details {
      cursor: pointer;
      width: calc(100% - 100px);
      transition: 500ms;
    }
  }
  &__button {
    width: 186px;
    height: 50px;
    border-radius: 25px;
    @include flex-center;
    margin: 0 auto;
    background: $btn-gradient;
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 500ms;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    }

    &__text {
      font-size: 16px;
      color: $fullWhite;
    }
  }
}

@include bpAt(smt) {
  .menu__course {
    margin: auto;
    width: 434px;
    &__meal {
      width: 434px;
    }
  }
}

@include bpAt(md) {
  .menu__course {
    margin: auto;
    width: 634px;
    &__meal {
      width: 634px;
    }
  }
}

@include bpAt(lg) {
}
