main {
  /*  position: relative; */
}

.resto-image-container {
  height: 235px;
  overflow: visible;
}
.resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin: auto;
  padding-bottom: 50px;

  /* menu over overflowing image*/
  position: relative;
  z-index: 10;

  /* position: relative;
  top: -40px; */

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    padding-left: 10px;
    &__name {
      font-family: "Shrikhand", cursive;
      font-size: 28px;
      color: #101010;
    }
    &__like {
      position: relative;
      width: 21px;
      height: 21px;
      @include flex-center;
      color: $mediumBlack;

      /* color: transparent;
      text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; */
      font-size: 28px;
      font-weight: 300;

      & .fa-solid {
        position: absolute;
        color: transparent;
      }

      /* &:hover .fa-regular .fa-solid {
        cursor: pointer;
        color: purple;
        background-color: green;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $btn-gradient;
        color: transparent;
      } */

      &:hover .fa-solid {
        @include heartLike
        /* cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $btn-gradient;
        transition: 400ms;
        animation: heart 300ms ease-in; */
      }
      /* &__heart, i {
        color: #101010;
        font-size: 21px;
        font-weight: 300;
      } */
    }
  }
}
@include bpAt(lg) {
  .resto-image-container {
    height: 343px;
    overflow: visible;
  }
  .resto-image {
    width: 100%;
    height: 383px;
    object-fit: cover;
  }
  .menu {
    margin: 0 auto;
    /* position: absolute; */
    /*  top: -40px; */
    width: 1055px;
    border-radius: 40px 40px 0 0;
    @include flex-center;
    gap: 50px;
  }
}
