/* 
== Previous option to fix menu over image
.resto-image-container {
  height: 235px;
  overflow: visible;
}
.resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
 */

.resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: $lightGrey;
  border-radius: 40px 40px 0 0;
  margin: auto;
  margin-top: -40px;
  padding-bottom: 50px;

  /* menu over overflowing image*/
  position: relative;
  z-index: 2;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    padding-left: 10px;
    &__name {
      font-family: "Shrikhand", cursive;
      font-size: 28px;
      color: #101010;
    }
    &__like {
      position: relative;
      width: 22px;
      height: 21px;
      @include flex-center;
      color: $mediumBlack;
      font-size: 20px;
      font-weight: 300;

      & .fa-solid {
        position: absolute;
        color: transparent;
      }
      &:hover .fa-solid {
        @include heartLike;
      }
    }
  }
}

// tablet 768
@include bpAt(smt) {
  .menu {
    width: 600px;
  }
}
// 1024px
@include bpAt(md) {
  .menu {
    width: 900px;
  }
}
// desktop 1440px
@include bpAt(lg) {
  .resto-image {
    width: 100%;
    height: 383px;
    object-fit: cover;
  }
  .menu {
    width: 1055px;
    border-radius: 40px 40px 0 0;
    @include flex-center;
    gap: 50px;
  }
}
