main {
  margin: 0 auto;
}
/* .restaurant {
  position: absolute;
  
  top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
  padding: 50px;
  background-color: #f6f6f6;
   border: 1px solid red;
} */

.restaurants {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding-top: 30px;
  margin-bottom: 50px;
  background-color: #f6f6f6;
  &__section__title {
    margin-left: 20px;
    align-self: start;
    &__section__text {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    &__card {
      /* height: 251px; */
      display: flex;
      flex-direction: column;
      position: relative;
      width: 340px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &__img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
      }
      &__badgeNew {
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: #99edd0;
        color: #008766;
        position: absolute;
        top: 15px;
        right: 15px;

        @include flex-center;
       /*  display: flex;
        justify-content: center;
        align-items: center; */

        font-size: 14px;
        &--off {
          display: none;
        }
      }
      &__content {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        &__text {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__name {
            color: #000;
            font-size: 18px;
            font-weight: bold;
          }
          &__location {
            color: #000;
            font-size: 17px;
            font-weight: light;
          }
        }
        &__like {
          @include flex-center;
          font-size: 25px;

          
          &:hover {
            cursor: pointer;
          }
/*  */
/* position: relative;
      width: 21px;
      height: 21px;
      @include flex-center;
      color: $mediumBlack; */

      /* color: transparent;
      text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; */
      font-size: 28px;
      font-weight: 300;

      & .fa-solid {
        position: absolute;
        color: transparent;
      }

      /* &:hover .fa-regular .fa-solid {
        cursor: pointer;
        color: purple;
        background-color: green;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $btn-gradient;
        color: transparent;
      } */

      &:hover .fa-solid {
        @include heartLike
        /* cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $btn-gradient;
        transition: 400ms;
        animation: heart 300ms ease-in; */
      }
/*  */

        }
      }
    }
  }
}

/* 
  &__container {
    align-self: start;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 30px;
    margin-left: 20px;
  } */

// desktop
@include bpAt(lg) {
  .restaurants {
    padding: 30px 180px;
    margin-bottom: 0px;
    &__section__title {
      margin-left: 0px;
    }
    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      /* @include flex-center; */
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
      flex-shrink: 0;
      &__card {
        width: 490px;
      }
    }
  }
}
