
.restaurants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background-color: #f6f6f6;
    border: 1px solid red;
  }
  
  .restaurants__card {
    display: flex;
    flex-direction: column;
    width: 340px;
    border: 1px solid blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
  }
  img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  
  .new {
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: #99edd0;
    color: #008766;
    position: absolute;
    top: 15px;
    right: 15px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 14px;
  
    .no-display {
      display: none;
    }
  }
  
  .fa-heart {
    color: #9356dc;
    /* background-color:#ff79da; */
    /* 
    https://www.djwebcreator.fr/css/des-effets-de-remplissage-en-css/
   */
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 17px;
    font-weight: light;
    color: #353535;
  }
  
  .restaurants {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: #f6f6f6;
  
    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px;
      margin-left: 20px;
      padding-bottom: 30px;
    }
  }
  
  .restaurants_container {
    gap: 15px;
  }
  /* .short-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */
  
  .card-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 349px;
    height: 69px;
    border-radius: 15px;
    /* border: 1px solid green; */
  
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* padding: 15px 15px;
   */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }