* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0 auto;
   @include bpAt(lg) {
    max-width: 1440px;
   }
}

a {
    text-decoration: none;
}

