@keyframes displayMeals {
  0% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0%); } }

@keyframes heart {
  0% {
    font-size: 0px;
    background-image: linear-gradient(to right bottom, #9356dc, #ff79da); }
  100% {
    font-size: 21px;
    background-image: linear-gradient(to right bottom, #9356dc, #ff79da); } }

@keyframes cocktail {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-5px) rotate(-10deg); }
  100% {
    transform: translateY(0px) rotate(0deg); } }

@keyframes wine {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-50px) rotate(0deg); }
  75% {
    transform: translateY(0px) rotate(15deg); }
  100% {
    transform: translateY(0px) rotate(0deg); } }

@keyframes loaderTitle {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes removeLoader {
  to {
    transform: scale(0);
    /*  position: top; */
    bottom: 100px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none; }

body {
  margin: 0 auto; }
  @media (min-width: 1440px) {
    body {
      max-width: 1440px; } }

a {
  text-decoration: none; }

/* @import "components/heart"; */
.loader__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  z-index: 2;
  opacity: 0.9;
  animation: removeLoader 500ms 5s;
  animation-fill-mode: forwards;
  transform-origin: bottom; }
  .loader__overlay__cheers {
    display: flex;
    flex-direction: column; }
    .loader__overlay__cheers__glasses {
      display: flex;
      justify-content: center;
      align-items: center; }
    .loader__overlay__cheers__glasses i:nth-child(1) {
      width: 60px;
      height: 100px;
      font-size: 90px;
      color: #99e2d0;
      animation: wine 2s ease-out; }
    .loader__overlay__cheers__glasses i:nth-child(2) {
      width: 100px;
      height: 100px;
      /* border: 1px solid red; */
      font-size: 90px;
      color: #9356dc;
      /* transform: translateY(-5px) rotate(-10deg); */
      animation: cocktail 2s 2s ease-out; }
  .loader__overlay h2 {
    margin-top: 20px;
    color: #ff79da;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    animation: loaderTitle 3s ease-out; }

@media (min-width: 375px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .header__logo {
      height: 63px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); }
      .header__logo__goback {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #353535;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold; }
        .header__logo__goback--off {
          display: none; }
      .header__logo__goback a {
        color: #101010; }
      .header__logo__title__text {
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        color: #101010; }
    .header__location {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      background-color: #eaeaea;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      gap: 17px; }
      .header__location__text {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #353535; }
    .header__img {
      width: 100%;
      height: 275px;
      object-fit: cover;
      z-index: -10; } }

@media (min-width: 1440px) {
  .header__logo {
    height: 96px;
    box-shadow: none; }
    .header__logo__goback {
      top: 30px;
      left: 30px; }
    .header__logo__location {
      box-shadow: none; }
  .header__img {
    width: 100%;
    height: 383px;
    object-fit: cover; } }

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #f6f6f6;
  gap: 30px;
  padding: 30px 0; }
  .hero__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .hero__details__title {
      width: 275px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .hero__details__subtitle {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #353535;
      text-align: center;
      width: 315px; }
  .hero__explore {
    /*  &a:hover {
      background: darken($btn-bkg, 10%);
    } */ }
    .hero__explore__btn {
      width: 218px;
      height: 50px;
      border-style: none;
      border-radius: 25px;
      /* background: linear-gradient(to right bottom, #ff79da, #9356dc); */
      background: linear-gradient(to right bottom, #9356dc, #ff79da);
      text-align: center;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition: all 500ms; }
      .hero__explore__btn:hover {
        cursor: pointer;
        opacity: 0.7;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); }
      .hero__explore__btn__text {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #fff;
        width: 100%; }

@media (min-width: 1440px) {
  .hero__details__title {
    width: 100%;
    font-size: 40px; }
  .hero__details__subtitle {
    width: 100%; } }

.heart {
  height: 25px;
  fill: yellow;
  fill: url(#Gradient);
  stroke: purple;
  stroke-width: 4; }

.operations {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background: #fff; }
  .operations__title {
    margin-left: 20px; }
    .operations__title__text {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px; }
  .operations__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0; }
    .operations__options__card {
      display: flex;
      justify-content: center;
      align-content: center;
      position: relative;
      width: 322.49px;
      height: 72.38px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); }
      .operations__options__card__bullet {
        position: absolute;
        height: 24px;
        width: 24px;
        background-color: #9356dc;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #f6f6f6; }
      .operations__options__card__content {
        display: flex;
        align-items: center;
        gap: 20px; }
      .operations__options__card__content__text {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #000; }

@media (min-width: 1440px) {
  .operations {
    max-width: 100%;
    padding-top: 0px;
    margin: 50px 180px; }
    .operations__title {
      margin-left: 0px; }
    .operations__options {
      flex-direction: row;
      justify-content: center; } }

main {
  margin: 0 auto; }

.restaurants {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f6f6f6; }
  .restaurants__section__title {
    width: 340px;
    display: flex;
    /*  @include flex-center; */
    justify-content: flex-start;
    text-align: left; }
    .restaurants__section__title__section__text {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px; }
  .restaurants__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px; }
    .restaurants__list__card {
      /* height: 251px; */
      display: flex;
      flex-direction: column;
      position: relative;
      width: 340px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
      .restaurants__list__card__img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover; }
      .restaurants__list__card__badgeNew {
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: #99e2d0;
        color: #008766;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*  display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 14px; }
        .restaurants__list__card__badgeNew--off {
          display: none; }
      .restaurants__list__card__content {
        display: flex;
        justify-content: space-between;
        margin: 15px; }
        .restaurants__list__card__content__text {
          display: flex;
          flex-direction: column;
          gap: 5px; }
          .restaurants__list__card__content__text__name {
            color: #000;
            font-size: 18px;
            font-weight: bold; }
          .restaurants__list__card__content__text__location {
            color: #000;
            font-size: 17px;
            font-weight: 300; }
        .restaurants__list__card__content__like {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 21px;
          font-weight: 300;
          color: #000;
          /*  */
          /*  */ }
          .restaurants__list__card__content__like:hover {
            cursor: pointer; }
          .restaurants__list__card__content__like .fa-solid {
            position: absolute;
            color: transparent; }
          .restaurants__list__card__content__like:hover .fa-solid {
            cursor: pointer;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right bottom, #9356dc, #ff79da);
            animation: heart 500ms ease-out; }

@media (min-width: 768px) {
  .restaurants {
    padding: 30px 50px; }
    .restaurants__section__title {
      width: 100%;
      margin-left: 0px; }
  .restaurants__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px; }
    .restaurants__list__card {
      flex-basis: 40%;
      width: auto;
      flex-shrink: 1;
      flex-grow: 1; } }

@media (min-width: 1024px) {
  .restaurants {
    max-width: 100%;
    padding: 30px 100px;
    margin-bottom: 0px; }
    .restaurants__section__title {
      margin-left: 0px; }
    .restaurants__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      /* @include flex-center; */
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
      flex-shrink: 0; }
      .restaurants__list__card {
        flex-grow: 1; } }

@media (min-width: 1440px) {
  .restaurants {
    max-width: 100%;
    padding: 30px 180px;
    margin-bottom: 0px; }
    .restaurants__section__title {
      margin-left: 0px; }
    .restaurants__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      /* @include flex-center; */
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
      flex-shrink: 0; }
      .restaurants__list__card {
        width: 490px; } }

/* 
== Previous option to fix menu over image
.resto-image-container {
  height: 235px;
  overflow: visible;
}
.resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
 */
.resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover; }

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin: auto;
  margin-top: -40px;
  padding-bottom: 50px;
  /* menu over overflowing image*/
  position: relative;
  z-index: 2; }
  .menu__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    padding-left: 10px; }
    .menu__title__name {
      font-family: "Shrikhand", cursive;
      font-size: 28px;
      color: #101010; }
    .menu__title__like {
      position: relative;
      width: 22px;
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #101010;
      font-size: 20px;
      font-weight: 300; }
      .menu__title__like .fa-solid {
        position: absolute;
        color: transparent; }
      .menu__title__like:hover .fa-solid {
        cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right bottom, #9356dc, #ff79da);
        animation: heart 500ms ease-out; }

@media (min-width: 768px) {
  .menu {
    width: 600px; } }

@media (min-width: 1024px) {
  .menu {
    width: 900px; } }

@media (min-width: 1440px) {
  .resto-image {
    width: 100%;
    height: 383px;
    object-fit: cover; }
  .menu {
    width: 1055px;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; } }

.menu__course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 375px;
  margin: auto; }
  .menu__course__name {
    align-self: flex-start;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative; }
    .menu__course__name::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      top: 25px;
      background: #99e2d0; }
  .menu__course__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; }
  .menu__course__meal {
    width: 349px;
    height: 69px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /*  */ }
    .menu__course__meal__details {
      width: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      flex-shrink: 0;
      transition: width 1000ms; }
      .menu__course__meal__details__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 400; }
      .menu__course__meal__details__description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 15px;
        font-size: 15px;
        font-weight: 300; }
    .menu__course__meal__price {
      width: 50px;
      height: 69px;
      display: flex;
      justify-content: center;
      align-items: end;
      flex-shrink: 0; }
      .menu__course__meal__price__details {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 700; }
    .menu__course__meal__checked {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: #99e2d0;
      flex-shrink: 0;
      width: 50px;
      height: 69px; }
    .menu__course__meal:nth-child(1) {
      animation: displayMeals 500ms ease-in-out; }
    .menu__course__meal:nth-child(2) {
      animation: displayMeals 1000ms ease-in-out; }
    .menu__course__meal:nth-child(3) {
      animation: displayMeals 1500ms ease-in-out; }
    .menu__course__meal:nth-child(4) {
      animation: displayMeals 2000ms ease-in-out; }
    .menu__course__meal:hover .menu__course__meal__details {
      cursor: pointer;
      width: calc(100% - 100px);
      transition: 500ms; }
  .menu__course__button {
    width: 186px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(to right bottom, #9356dc, #ff79da);
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 500ms; }
    .menu__course__button:hover {
      cursor: pointer;
      opacity: 0.7;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); }
    .menu__course__button__text {
      font-size: 16px;
      color: #fff; }

@media (min-width: 768px) {
  .menu__course {
    margin: auto;
    width: 434px; }
    .menu__course__meal {
      width: 434px; } }

@media (min-width: 1024px) {
  .menu__course {
    margin: auto;
    width: 634px; }
    .menu__course__meal {
      width: 634px; } }

.footer {
  background-color: #353535;
  color: #fff;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px; }
  .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 18px; }
  .footer__links ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none; }
    .footer__links ul li {
      font-size: 16px; }
      .footer__links ul li a {
        color: #fff;
        text-decoration: none; }
        .footer__links ul li a i {
          width: 22px; }

@media (min-width: 1024px) {
  .footer {
    background-color: #353535;
    width: 100%;
    height: 114px;
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px; }
    .footer__links ul {
      flex-direction: row;
      gap: 15px; }
    .footer__links li {
      width: 190px; } }
